# Webhooks

When a trigger is executed in Teamtailor, the webhook JSON object is sent to your configurable endpoint.

<aside class="notice">
  Read more about <a href="http://support.teamtailor.com/applicant-tracking/triggers" target="_blank">triggers in our support center</a>.
</aside>

```http
POST ${BASE_URL}/webhook HTTP/1.1
Authorization: Bearer xxx-provider-key

{
  "partner-event": {
    "id": "f3d7e8e2-da33-4c10-ae5f-0e7f4d46f6d7",
    "webhook-data": {
      "test": "1",
      "threshold": "75"
    },
    "partner-result": {
      "id": "1a6d5a41-f0dd-4226-9d3b-186392bea484",
      "status": "sending"
    },
    "candidate": {
      "id": 54321,
      "first-name": "Juston",
      "last-name": "Becker",
      "email": "applicant100@example.com",
      "phone": "+4670432121"
      "department": "Product development",
      "role": "Designer"
      "job": {
        "id": 12345,
        "title": "Full-stack web developer",
        "stage": "After Interview"
      },
      "recruiter": {
        "name": "Edison Kuhn",
        "email": "email1@example.com",
        "phone": "+461234567"
      },
      "locations": [
        {
          "name": "Stockholm",
          "address": "Åsögatan 18, 126 41, Stockholm"
        }
      ],
      "questions": [
        {
          "question": "What are your preferred environments?",
          "answer": ["Ruby on Rails", "Ember.js"]
        },
        {
          "question": "How many years relevant work experience do you have?",
          "answer": "10 years"
        },
        {
          "question": "Are you open for working remote?",
          "answer": "yes"
        }
      ]
    }
    "company": {
      "name": "Teamtailor",
      "url": "https://career.teamtailor.com",
      "logotype": "https://res.cloudinary.com/teamtailor/image/upload/c_limit,f_auto,h_100,q_auto,w_100,dpr_2.0/v1433344861/b2urpbafegvjzexula0n"
    }
  }
}
```

### HTTP Request
`POST ${BASE_URL}/webhook`

### Webhook JSON object

The JSON object sent to you contains the candidate data, the selected trigger's "webhook data" and a reference to the [partner result](#partner-results) object, in case an assessment is requested.

The request is authenticated with the client-specific "provider key" in the Authorization Bearer header.

Attribute           | Value
------------------- | -------
id                  | Unique identifier of this event.
webhook-data        | The picked options from your [Webhook config](#webhook-config), for example test ID and threshold value.
partner-result      | The result presented to the customer. Update scores, status etc using the [Partner Results resource](#partner-results).
company             | Company data.
candidate           | Candidate data.
candidate.job       | Candidate job data: `id`, `title`, `stage`.
candidate.recruiter | Job recruiter data: `name`, `email`, `phone`.
candidate.locations | Candidate locations, list with: `name`, `address`.
candidate.questions | Candidate answers to questions, list with: `question`, `answer`. Supported types: Text, Choice (list), Boolean (`yes`/`no`), Range (eg, "10 years"), File (url to file, valid for 1 hour)

### Error handling

We expect your webhook to return a HTTP 2xx status code. Other responses will indicate to us that you didn't successfully receive the webhook. In this case we will attempt to deliver the webhook every hour for three days or until we get a HTTP 2xx status code. We will notify you by email on the first retry failure as well as every third from there on.
