# Direct Apply

When you use the Teamtailor Direct Apply API candidates will stay and apply at your job board while Teamtailor will
still get the candidate data. However, we strongly recommend redirecting candidates to our customer's career sites.

You will need to use following endpoints:
Production BASE_URL = `https://5qbn6o9x4h.execute-api.eu-west-1.amazonaws.com/production`

1. `GET ${BASE_URL}/inquiry` - get job data (questions, consents, etc) from Teamtailor
2. `POST ${BASE_URL}/apply` - send candidate data to Teamtailor

## Authentication

You can choose one of the following methods of authentication in Teamtailor Direct Apply:

- computing request signagure - most convenient way for your system and for Teamtailor
- whitelisting your IP - choose it when you can't use request signature and your system uses a static IP

### Computing request signagure

> Example of function computing request signature in JavaScript

```js
function generateSignature(body, secret) {
  const hmac = crypto.createHmac('sha256', secret);
  hmac.write(body);
  hmac.end();
  return Buffer.from(hmac.read().toString('hex')).toString('base64');
}
````

> Example

```js
generateSignature('', '327d2d0c-531e-4c23-98da-23aaa4ba8da3')
> MTI1YzliMDg3ZTY1MmYyMGUwMTYzZDUzMGZlZjA0N2M0YzE4NGYwY2UwY2ViOTM4ZDM3OTUxM2ViMjNjMWZiYw==
````

You need to provide the signature with every request you make to `/inquiry` or `/apply` endpoints
in a `X-Api-Signature` header.

There will be two params needed: `body` and `secret`.

1. `body` - use following bodys for computing signature for different enpoints:
  - for `/inquiry` - use empty string ""
  - for `/apply` - use request body that you pass
2. `secret` - your API KEY (you can see it in integrations hub) .

Use `sha256` algorithm. The end result signature should be a `base64` string, first encoded in `hex`.

### Whitelisting your IP

Provide us a list of the IPs that your system uses.

## GET Inquiry

Get the job data needed to configure apply form in your system.

```http
GET ${BASE_URL}/inquiry HTTP/1.1
JobBoardId: job_board
ReferenceNumber: 1
```

> Example of inquiry response

```json
{
  "company": {
       "name": "Teamtailor",
       "uuid": "xyz"
  },
  "job_status": "active",
  "application_fields": [
    {
        "name": "name",
        "requirement": "required"
    },
    {
        "name": "phone",
        "requirement": "optional"
    },
    {
        "name": "resume",
        "requirement": "optional"
    },
    {
        "name": "cover_letter",
        "requirement": "off"
    }
  ],
  "questions": [
    {
      "id": 4,
      "question": "Are you a designer?",
      "required": true,
      "type": "select",
      "options": [
        { "value": true, "label": "Yes" },
        { "value": false, "label": "No" }
      ],
      "conditional": false,
      "parent_question_id": null,
      "conditional_value": null
    },
    {
      "id": 5,
      "question": "Favorite social media platforms?",
      "required": false,
      "type": "multiselect",
      "options": [
        { "value": 1, "label": "Facebook" },
        { "value": 2, "label": "Twitter" },
        { "value": 3, "label": "Instagram" },
        { "value": 4, "label": "Snapchat" },
        { "value": 5, "label": "Other" }
      ],
      "conditional": false,
      "parent_question_id": null,
      "conditional_value": null
    },
    {
      "id": 6,
      "question": "What did you learn this week?",
      "required": true,
      "type": "textarea",
      "conditional": false,
      "parent_question_id": null,
      "conditional_value": null
    },
    {
      "id": 7,
      "question": "Years of experience",
      "required": true,
      "type": "range",
      "format": "integer",
      "min": 0,
      "max": 20,
      "unit": "years",
      "conditional": false,
      "parent_question_id": null,
      "conditional_value": null
    },
    {
      "id": 8,
      "question": "Please upload your diploma",
      "required": false,
      "type": "file",
      "conditional": false,
      "parent_question_id": null,
      "conditional_value": null
    },
    {
      "id": 9,
      "question": "What is your name?",
      "required": false,
      "type": "text",
      "conditional": false,
      "parent_question_id": null,
      "conditional_value": null
    },
    {
      "id": 10,
      "question": "What is your date of birth?",
      "required": false,
      "type": "date",
      "conditional": false,
      "parent_question_id": null,
      "conditional_value": null
    },
    {
      "id": 11,
      "question": "How many apples do you eat?",
      "required": false,
      "type": "number",
      "conditional": false,
      "parent_question_id": null,
      "conditional_value": null
    },
    {
      "id": 12,
      "question": "What is your favorite color?",
      "required": false,
      "type": "color",
      "conditional": true,
      "parent_question_id": 11,
      "conditional_value": 10
    }
  ],
  "consents": [
    {
      "consent_type": "privacy_policy",
      "required": true,
      "text": "I have read the <a class=\"privacy-policy\" href=\"https://career.teamtailor.localhost/privacy-policy\">Privacy Policy</a> and confirm that Teamtailor store my personal details to be able to process my job application.",
      "url": "https://career.teamtailor.localhost/privacy-policy"
    },
    {
      "consent_type": "future_jobs",
      "required": false,
      "text": "Yes, Teamtailor can also contact me about future job opportunities."
    }
  ]
}
```

### HTTP Request
`GET ${BASE_URL}/inquiry`

#### Headers
* JobBoardId - Unique identifier of job board in Teamtailor
* ReferenceNumber - Unique identifier of job ad in Teamtailor

### Inquiry response

Attribute           | Type    | Description
--------------------|---------|------------
company               object    Implements company object
job_status          | string  | Job status. One of following: **active**, **expired**
application_fields  | array   | List of application field statuses. Implements many *application field* objects
questions           | array   | List of questions. Implements many *question* objects
consents            | array   | List of consents. Implements many *consent* objects

### Application field object

Attribute        | Type    | Description
-----------------|---------|------------
name             | string  | Type of field
requirement      | string  | Requirement type. One of following: **optional**, **required**, **off**

### Company field object

Attribute        | Type    | Description
-----------------|---------|------------
name             | string  | Name of the company
uuid             | string  | Company uuid

### Question objects

Attribute          | Type    | Description
-------------------|---------|------------
id                 | string  | Unique identifier of question
question           | string  | Human readable label
required           | boolean | Indicates if the question is required
type               | string  | Type of form element (see below)
options            | array   | Options
conditional        | boolean | Indicates if the question is conditional
parent_question_id | string  | Unique identifier of parent question
conditional_value  | string  | Value of parent question

### Possible question types:

- text
- textarea
- select
- multiselect
- range
- file
- date
- number

### Consent object

Attribute        | Type    | Description
-----------------|---------|------------
consent_type     | string  | Type of consent. One of following: **privacy_policy**, **future_jobs**
required         | boolean | Indicates if consent is required
text             | string  | Human readable label
url              | string  | Url to consent page. Present only for **privacy_policy** consent

## POST apply

Get the job data needed to configure apply form in your system.

```http
POST ${BASE_URL}/apply HTTP/1.1
JobBoardId: job_board
ReferenceNumber: 1

{
  "candidate": {
    "full-name": "Max Name",
    "email": "example@test.com",
    "phone": "08886485454",
    "cover-letter": "Hello I'm Max",
    "resume": {
      "binary-data": "TWF4IFBheW5lIENW",
      "file-name": "example_resume.pdf",
      "file-type": "application/pdf",
    },
    "answers": [
      { "id": "4", "value": "true" },
      { "id": "5", "values": ["1", "4"] },
      { "id": "6", "value": "Test ICE Cream flavor" },
      { "id": "7", "value": "6" },
      { "id": "8", "file": { "file-name": "sample_resume.pdf", "file-type": "application/pdf", "binary-data": "TWF4IFBheW5lIENW" }},
      { "id": "9", "value": "My name is Max" },
      { "id": "10", "value": "25/12/1995" },
      { "id": "11", "value": "3" },
    ],
  },
  "analytics": {
    "referring-site": "Job Board Website",
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 11_2_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36",
  }
}
```

### HTTP Request
`POST ${BASE_URL}/apply`

#### Headers
* JobBoardId - Unique identifier of job board in Teamtailor
* ReferenceNumber - Unique identifier of job ad in Teamtailor

### Apply JSON object

Attribute        | Required   | Description
-----------------|------------|------------
candidate        | true       | Contains candidate data Implements *candidate* object
analytics        | false      | Contains analytics data. Implements *analytics* object

### Candidate object

Attribute         | Type    | Description
------------------|---------|------------
resume            | string  | Candidate's resume. Binary data must be in encoded in Base64
first-name        | string  |
last-name         | string  |
full-name         | string  |
email             | string  |
phone             | string  |
cover-letter      | string  |
remote_picture_url| string  |
linkedin_url      | string  |
locations         | array   | Implements array location object
notes             | array   | array of strings
tags              | array   | array of strings


### Resume file types

Resume type | file-type   
------------|-----------
* docx      | "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
* pptx      | "application/vnd.openxmlformats-officedocument.presentationml.presentation"
* pdf       | "application/pdf"
* txt       | "text/plain"
* rtf       | "application/rtf"


### Analytics object

Attribute        | Type    | Description
-----------------|---------|------------
referring-site   | string  | If provided, will be displayed as apply source. Defaults to your job board name
user-agent       | string  | Candidate's user agent


### Location object

Attribute        | Type    | Description
-----------------|---------|------------
id               | number  | If provided we will try to lookup location by id, otherwise we will use combination of address, city and zip
address          | string  |
zip              | string  |
city             | string  |