# Email with job data

If you choose the Email integration, you will receive an email every time the job ad is created, updated or removed.

> Example email

```txt
Channel: Channel name
Reference number: teamtailor-23
Duration: 30
Publish date: 2021-03-24T00:00:00+01:00
End date: 2021-03-31T00:00:00+02:00
Remote status: none
Employment type: none
Employment level: none
Job offer url: https://career.teamtailor.localhost/jobs/preview/407c2b91-f06e-475f-9e51-72a62091abce

Locations:
    - country: Sweden
    - city: Stockholm
    - postalcode: 118 46
    - address: Sankt Paulsgatan 7B
    - region: Västra Götaland County


Recruiter data
--------------
- name: Hammes Grud
- email: email1@example.com
- phone: 123456

Company data
------------

Company name: Test company
Company description: Cupio barba articulus.</p><p>Spes deleniti cubicularis.
Company logotype: https://teamtailor-production.s3.eu-west-1.amazonaws.com/image_uploads/cd24c21b-db10-4cf2-aabd-4a6f4ef1cf06/original.png
Company headquarters:
    - country: Sweden
    - city: Stockholm
    - postalcode: 118 46
    - address: Sankt Paulsgatan 7B
    - countrycode: SE
    - region: Västra Götaland County


Promotion data
--------------

Title: Marketing Coordinator
Description: <p>Depereo decumbo defungo. Ubi stipes vel. Cupio barba articulus.</p><p>Spes deleniti cubicularis. Admitto aut contra. Aspernatur sperno cuppedia.</p><p>Vado concedo ager. 
      Usitas coaegresco autem. Suscipio thorax aurum.</p><p>Vero et veniam. Alioqui cometes apto. Truculenter tollo quos.</p><p>Decimus sunt sollers. Cotidie celo voluntarius. 
      Centum triduana deleo.</p><p>Denego quod dedico. Conservo bos illo. Molestiae valetudo avaritia.</p><h2>Recusandae placeat voluptates modi.</h2><p>Verto et absum. Culpa corroboro atrocitas.
      Clam apud voluptatibus.</p><p>Verbum verto sit. Coadunatio centum animi. Succedo adversus inventore.</p><p>Rem est uberrime. Voluptatem theologus inflammatio. Crastinus tergum civitas.</p><p>Deputo summopere eveniet. 
      Vulgus timidus nisi. Defaeco verto natus.</p><p>Quas colligo cresco. Praesentium colo chirographum. Torqueo celebrer concedo.</p><p>Compono statua vaco. Volo adsum veritatis. Aufero bene sursum.</p><p>Viriliter ratione venia. 
      Uter sit quia. Accommodo varietas socius.</p>
````