# HTTP Webhooks

When a user creates, updates or removes a job in Teamtailor, you will receive a webhook JSON request that contains the job ad data.

You will need to configure and handle the following endpoints:

1. `GET ${BASE_URL}/config` - provide options for a form rendered to the user
2. `POST ${BASE_URL}/webhook` - handle created job ad in Teamtailor
3. `PUT ${BASE_URL}/webhook` - handle updated job ad in Teamtailor
4. `DELETE ${BASE_URL}/webhook/:reference_id` - handle deleted job ad in Teamtailor

## GET Config

When user want to publish a job ad we display a form.
Use this endpoint to configure the options visible in the form by returning the configuration object in the response.

> Request

```http
GET ${BASE_URL}/config?page=1&locale=en HTTP/1.1
```

> Response

```json
{
  "config": {
    "1": [
      {
        "id": "job-role",
        "label": "Job role",
        "type": "select",
        "required": true,
        "options": [
          { "id": "dev", "label": "Software engineer" },
          { "id": "pm", "label": "Product manager" },
          { "id": "data", "label": "Data analyst" }
        ]
      },
      {
        "id": "contract-type",
        "label": "Contract type",
        "type": "select",
        "required": true,
        "options": [
          { "id": "full-time", "label": "Full-time" },
          { "id": "part-time", "label": "Part-time" },
          { "id": "contract", "label": "Contract" }
        ],
        "dynamicField": {
          "url": "${BASE_URL}/config/dynamic/employment-based-fields"
        }
      },
      {
        "id": "pay-period",
        "label": "Pay period",
        "type": "select",
        "required": true,
        "options": [
          { "id": "hourly", "label": "Hourly" },
          { "id": "monthly", "label": "Monthly" },
          { "id": "yearly", "label": "Yearly" }
        ]
      },
      {
        "type": "expandable",
        "label": "Optional ad preferences",
        "fields": [
          {
            "id": "total-openings",
            "label": "Total openings",
            "type": "number",
            "min": 1,
            "max": 499,
            "value": 1,
            "required": false
          },
          {
            "id": "is-remote",
            "label": "Remote available",
            "type": "checkbox",
            "required": false
          },
          {
            "id": "is-urgent",
            "label": "Urgent hire",
            "type": "checkbox",
            "required": false
          },
          {
            "id": "is-featured",
            "label": "Featured listing",
            "type": "checkbox",
            "required": false
          }
        ]
      },
      {
        "type": "group",
        "label": "Education",
        "fields": [
          {
            "id": "education-level",
            "label": "Education level",
            "type": "select",
            "required": false,
            "options": [
              { "id": "hs", "label": "High school" },
              { "id": "bachelor", "label": "Bachelor's degree" },
              { "id": "master", "label": "Master's degree" }
            ]
          },
          {
            "id": "study-field",
            "label": "Field of study",
            "type": "select",
            "required": false,
            "options": [
              { "id": "cs", "label": "Computer science" },
              { "id": "business", "label": "Business" }
            ]
          },
          {
            "id": "graduation-year",
            "label": "Graduation year",
            "type": "number",
            "required": false,
            "min": 1970,
            "max": 2026
          }
        ]
      }
    ],
    "hasNextPage": false,
    "hasRedirectLink": false,
    "selectLocation": {
      "required": true,
      "multiple": false,
      "description": "Select a location",
      "filterBy": { "country": "Sweden" },
      "dynamicField": {
        "url": "${BASE_URL}/config/dynamic/location-based-fields"
      }
    },
    "page": "1"
  }
}
```

### HTTP Request

`GET ${BASE_URL}/config`

#### Query parameters

* page - the page number for which it should be config (required)
* locale - locale used for labels (optional, default: `en`)
* job_id - id of the job
* company_uuid - company UUID
* job_board_id - channel internal name
* action - `create` or `update`
* external_id - external identifier (present on update flows)
* existing_agreement - whether the activation already has an agreement
* field_id - previously selected field values (id=value)

`field_id` is a placeholder for any field id from your config. For example, if the user selected
`job-role = dev`, the next request may include `job-role=dev` in the query string.

### Expected config response

Attribute        | Type    | Description
-----------------|---------|------------
config           | object  | Top-level object
page             | string  | Indicates current page
hasNextPage      | boolean | Indicates whether there is a next page to be fetched
hasRedirectLink  | boolean | Indicates whether a redirect link should be shown
selectLocation   | object  | Location selector definition

`page` is a string in JSON responses (even though it represents a page number).

### Field objects

Attribute        | Type    | Description
-----------------|---------|------------
id               | string  | Identifier for this field, will be sent in webhook
label            | string  | Human readable label
placeholder      | string  | Optional form placeholder
type             | string  | Type of form element (see below)
options          | array   | Options (required for `select`/`multiselect`)
required         | boolean | Whether the field is required
fields           | array   | Nested fields for `expandable` or `group` items
dynamicField     | object  | Follow-up config to fetch based on current selection

`expandable` and `group` are layout-only types, so they do not have `id` and are not included in webhook data.

`dynamicField.url` should return a response with the same structure as `/config` and will be requested with
query parameters for selected fields (`id=value`).

`selectLocation` uses the same `dynamicField` pattern and is returned next to pages, not inside `config[page]`.

`selectLocation` can include:

Attribute        | Type    | Description
-----------------|---------|------------
required         | boolean | Whether the location is required
multiple         | boolean | Whether multiple locations can be selected
description      | string  | Helper text displayed to the user
filterBy         | object  | Location filter (e.g. `{ "country": "Sweden" }`)
dynamicField     | object  | Follow-up config to fetch based on location selection

### Supported field types

Field objects follow the HTML form standard in regards to types, possible options, labels and placeholders.
For example, __disabled__ may be provided for the __"text"__ type, __step__, __min__ and __max__ may be provided for the __"number"__ type and an __options__ array
with __id__/__label__ may be provided for the __"select"__ type.

Input field types:

* checkbox
* color
* date
* datetime
* datetime-local
* email
* infobox
* hidden
* month
* number
* password
* radio
* range
* reset
* search
* select
* multiselect
* tel
* text
* url
* week

Layout field types:

* expandable
* group

### Pagination

We support multiple pages of the config form (pagination).
In order to do that, you have to include more than one config page object, as well as handle
a `page` (current page) and `hasNextPage` attributes in the response.
In order to make the form dependent on the previously selected options,
there will be included query string parameters with the selected options (id=value).

> Response

```json
{
  "config": {
    "1": [],
    "page": "1",
    "hasNextPage": false
  }
}
```

## POST Webhook

When user picks options in the form and submit it, the webhook POST request will be send.

> Request

```http
POST ${BASE_URL}/webhook HTTP/1.1
```

> Request body

```json
{
  "id": "04798257-51ff-42e4-aa56-61e75632f23b",
  "reference-id": "1",
  "created-at": "2021-03-24T00:00:00+01:00",
  "duration": 30,
  "job-board-id": "job_board",
  "webhook-data": {
    "experience-level": "Junior",
    "degree-level": "Master's Degree"
  },
  "location": {
    "address": "Sankt Paulsgatan 7B",
    "city": "Stockholm",
    "country": "Sweden",
    "country-code": "SE",
    "zip": "118 46"
  },
  "company": {
    "name": "Teamtailor",
    "company-info-about": "Cupio barba articulus.</p><p>Spes deleniti cubicularis.",
    "url": "https://career.teamtailor.localhost",
    "uuid": "ZPXFT2VMtr8",
    "subdomain": "career",
    "logotype": "https://example.com/original.jpg",
    "headquarters": {
      "address": "Sankt Paulsgatan 7B",
      "city": "Stockholm",
      "country": "Sweden",
      "country-code": "SE",
      "zip": "118 46"
    }
  },
  "job": {
    "title": "Marketing Coordinator",
    "body": "Depereo decumbo defungo. Ubi stipes vel. Cupio barba articulus.",
    "remote-status": "none",
    "employment-type": "none",
    "employment-level": "none",
    "url": "https://career.teamtailor.localhost/jobs/23-marketing-coordinator",
    "apply-url": "https://career.teamtailor.localhost/jobs/23-marketing-coordinator/applications/new?promotion=2-monster-finland",
    "cover-image-url": "https://example.com/original.jpg",
    "pitch": "Coadunatio centum animi. Succedo adversus inventore. Rem est uberrime.",
    "start-date": "2021-03-24T00:00:00+01:00",
    "end-date": "2021-03-31T00:00:00+02:00",
    "created-date": "2021-03-02T19:18:22+01:00",
    "apply-button-text": "Apply now",
    "department": {
      "name": "Business Marketing"
    },
    "role": {
      "name": "Marketer"
    },
    "recruiter": {
      "name": "Hammes Grud",
      "email": "email1@example.com",
      "phone": "123456"
    },
    "locations": [
      {
        "address": "Sankt Paulsgatan 7B",
        "city": "Stockholm",
        "country": "Sweden",
        "country-code": "SE",
        "zip": "118 46"
      },
      {
        "address": "Sankt Paulsgatan 7B",
        "city": "Stockholm",
        "country": "Sweden",
        "country-code": "SE",
        "zip": "118 46"
      }
    ],
    "salary": {
      "min-salary": "500.0",
      "max-salary": "800.0",
      "salary-currency": "EUR",
      "salary-time-unit": "monthly"
    },
    "custom-fields": [
      { "id": 3, "name": "Custom date", "value": "2023-06-14" },
      { "id": 9, "name": "Custom bool", "value": true },
      {
        "id": 8,
        "name": "Custom multiselect",
        "value": [ "Multiselect option 3", "Multiselect option 1" ]
      },
      { "id": 7, "name": "Custom select", "value": [ "Option 2" ] },
      { "id": 6, "name": "Custom number", "value": 44 },
      { "id": 5, "name": "Custom string", "value": "String" }
    ]
  }
}
```

### HTTP Request

`POST ${BASE_URL}/webhook`

### Webhook JSON object

Attribute               | Value
-------------------     | -------
id                      | Unique identifier of this event
reference-id            | Unique identifier of job ad in Teamtailor
created-at              | Date when job ad was created
duration                | Duration of job ad. In days
job-board-id            | Unique identifier of job board in Teamtailor
webhook-data            | Object containing picked options by user
location                | Location of the job ad. User can optionally select it during purchasing the job ad. Implements location object
company                 | Company that job belongs to. Implements company object
job                     | Job data. Implements job object

### Location object

Attribute               | Value
-------------------     | -------
address                 | Address
city                    | City name
country                 | Country name
country-code            | Country code
zip                     | Postal code

### Company object

Attribute               | Value
-------------------     | -------
name                    | Company name
company-info-about      | Description of the company
url                     | URL to the company's website
uuid                    | Company's uuid
subdomain               | Company's subdomain
logotype                | URL to the company’s logo
headquarters            | Company's headquarters. Implements location object

### Job object

Attribute               | Value
-------------------     | -------
title                   | Job title
body                    | Job description
remote-status           | Remote status. One of following: __none__, __temporary__, __hybrid__, __fully__
employment-type         | Employment type. One of following: __none__, __fully__, __part__, __contract__, __temporary__, __apprenticeship__, __internship__, __volunteer__
employment-level        | Employment level. One of following: __none__, __senior__, __mid__, __professionals__, __technicians__, __sales__, __administrative__, __support__, __craft__, __operatives__, __laborers__, __service__
url                     | URL to the job ad in Teamtailor
apply-url               | URL to the job apply form in Teamtailor
cover-image-url         | URL to the job cover image
pitch                   | Pitch text about the job
start-date              | Date from when the job ad is published
end-date                | Date when job ad will be unlisted
created-date            | Date when job ad was created
apply-button-text       | Text displayed on "apply" button
department.name         | Name of the job's department
role.name               | Name of the job's role
recruiter               | Recruiter of the job. Implements *recruiter* object
locations               | Locations of the job. Implements many *location* objects
salary                  | Salary of the job. Implements *salary* object

### Recruiter object

Attribute               | Value
-------------------     | -------
name                    | Recruiter name
email                   | Recruiter email
phone                   | Recruiter phone

### Salary object

Attribute               | Value
-------------------     | -------
min-salary              | Minimum salary for the job if range otherwise offered salary amount
max-salary              | Maximum salary for the job
salary-currency         | Salary currency
salary-time-unit        | Salary time unit. One of the following __monthly__, __hourly__, __yearly__, __daily__

### Custom fields object

Attribute               | Value
-------------------     | -------
id                      | Unique identifier of this custom field
name                    | Field name set up by user
value                   | Can be array of strings, string, number, boolean, date in format YYYY-MM-DD

> Response

```json
{
  "body": {
    "externalId": "044a35ea-0fe1-49d3-a2aa-e67b0e89dd3e",
    "externalUrl": "https://example.com/job/044a35ea-0fe1-49d3-a2aa-e67b0e89dd3e"
  }
}
```

### Expected response

We expect successful response to have a __HTTP 200 OK__ response code.
The response must include `externalId` which should be your internal identifier of the job ad.
The response can also include `externalUrl` (optional) which should be your internal URL of the job ad.

> Error response

```json
{
  "body": {
    "externalId": "044a35ea-0fe1-49d3-a2aa-e67b0e89dd3e"
  },
  "errors": ["Job title can't be longer than 80 characters"]
}
```

### Error handling

When something will went wrong on your end (e.g. validation error) we will display the error message
to the user. In that case the response code must be other than __HTTP 2xx__ and you have to include
an __errors__ attribute, which is array of error messages.

## PUT Webhook

When user updates options in the form and submit it, the webhook PUT request will be send.
It works in the same way as [POST Webhook](#post-webhook) in terms of a request structure and an expected response.

> Request

```http
PUT ${BASE_URL}/webhook HTTP/1.1
```

### HTTP Request

`PUT ${BASE_URL}/webhook`

## DELETE Webhook

When job ad is unlisted in Teamtailor, the webhook DELETE request will be send.

> Request

```http
DELETE ${BASE_URL}/webhook/:reference_id HTTP/1.1
```

### HTTP Request

`DELETE ${BASE_URL}/webhook/:reference_id`

## Transferring secrets

> Example of Authorization header

```http
POST ${BASE_URL}/webhook HTTP/1.1
Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9
```

If you require secrets from user, e.g. API key or password, we will include it in a headers of every request.
It is a JWT `Bearer` token placed in `Authorization` header, encoded using __HS256__ signing algorithm.

In order to decode it and get the secrets, you will need a signing key.
You can find it in your Teamtailor account in the __Settings__ > __Integrations__ > __Integrations Hub__ section.
Search for your integration and click on __Details__. The __API Key__ is the signing key.
Should you need help, please contact us at [integrations@teamtailor.com](mailto:integrations@teamtailor.com).
